In [72]:
# Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np

In [73]:
# The path to our CSV file
filepath = "ufo_sighting_data.csv"

# Read our UFO sighting data into a dataframe
df = pd.read_csv(filepath, low_memory=False)
print(df.shape)
df.head()

(80332, 11)

,Date_time,city,state/province,country,UFO_shape,length_of_encounter_seconds,described_duration_of_encounter,description,date_documented,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

In [74]:
# Initial overview of the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80332 entries, 0 to 80331
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Date_time                        80332 non-null  object
 1   city                             80332 non-null  object
 2   state/province                   74535 non-null  object
 3   country                          70662 non-null  object
 4   UFO_shape                        78400 non-null  object
 5   length_of_encounter_seconds      80332 non-null  object
 6   described_duration_of_encounter  80332 non-null  object
 7   description                      80317 non-null  object
 8   date_documented                  80332 non-null  object
 9   latitude                         80332 non-null  object
 10  longitude                        80332 non-null  float64
dtypes: float64(1), object(10)
memory usage: 6.7+ MB

In [75]:
# List of columns
df.columns

Index(['Date_time', 'city', 'state/province', 'country', 'UFO_shape',
       'length_of_encounter_seconds', 'described_duration_of_encounter',
       'description', 'date_documented', 'latitude', 'longitude'],
      dtype='object')

In [76]:
# Drop 'date_documented' column as unnecessary
del df['date_documented']

In [77]:
# 'latitude' column error handling
df['latitude'] = df['latitude'].replace({'33q.200088': '33.200088'})

In [78]:
# Change data type
df = df.astype({"latitude": "float64"})
df.head()

,Date_time,city,state/province,country,UFO_shape,length_of_encounter_seconds,described_duration_of_encounter,description,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,29.883056,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,29.384210,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,53.200000,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,28.978333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,21.418056,-157.803611

In [79]:
# 'length_of_encounter_seconds' column error handling
df['length_of_encounter_seconds'] = df['length_of_encounter_seconds'].replace({'0.5`': '0.5',
                                                                              '8`': '8',
                                                                              '2`': '2'})

In [80]:
# Change data type
df = df.astype({"length_of_encounter_seconds": "float64"})
df.head()

,Date_time,city,state/province,country,UFO_shape,length_of_encounter_seconds,described_duration_of_encounter,description,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,29.883056,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,29.384210,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,53.200000,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,28.978333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,21.418056,-157.803611

In [140]:
# 'Date_time' column error handling
df['Date_time'] = df['Date_time'].replace({'10/11/2006 24:00': '10/11/2006 00:00',
                                          '10/1/2001 24:00': '10/1/2001 00:00',
                                          '10/1/2012 24:00': '10/1/2012 00:00',
                                          '10/12/2003 24:00': '10/12/2003 00:00',
                                          '10/12/2013 24:00': '10/12/2013 00:00',
                                          '10/13/2004 24:00': '10/13/2004 00:00',
                                          '10/13/2007 24:00': '10/13/2007 00:00',
                                          '10/13/2012 24:00': '10/13/2012 00:00',
                                          '10/14/2011 24:00': '10/14/2011 00:00',
                                          '10/15/1952 24:00': '10/15/1952 00:00',
                                          '10/15/1971 24:00': '10/15/1971 00:00',
                                          '10/15/1978 24:00': '10/15/1978 00:00',
                                          '10/15/1980 24:00': '10/15/1980 00:00',
                                          '10/15/1983 24:00': '10/15/1983 00:00',
                                          '10/15/1997 24:00': '10/15/1997 00:00',
                                          '10/15/1999 24:00': '10/15/1999 00:00',
                                          '10/15/2002 24:00': '10/15/2002 00:00',
                                          '10/15/2005 24:00': '10/15/2005 00:00',
                                          '10/15/2008 24:00': '10/15/2008 00:00',
                                          '10/16/1998 24:00': '10/16/1998 00:00',
                                          '10/16/2005 24:00': '10/16/2005 00:00',
                                          '10/17/2013 24:00': '10/17/2013 00:00',
                                          '10/20/1989 24:00': '10/20/1989 00:00'})

In [141]:
# Convert desired columns! (I can put in errors="ignore", but then the data type doesn't actually change)
df = df.astype({"Date_time": "datetime64"})
df.info()

ParserError: hour must be in 0..23: 10/20/2002 24:00 present at position 3184